:root {
  --primary-color: transparent;
  --primary-bg-color: #f5f5f5;
  --example-color: #656565;
  --width: 1000px;
  --content-width: calc(var(--width) - 200px);
}
.content {
  width: var(--content-width);
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}
input {
  outline: var(--primary-color);
}
.container {
  margin: 0 auto;
  width: var(--width);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1000px) {
  :root {
    --width: 800px;
  }
}
header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}
#buscar{
  width: calc(var(--content-width) - 100px);
  padding: 12px 15px;
  background: var(--primary-bg-color);
  border-radius: 13px;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  position: relative;
  transition: border 0.4s;
}
#buscar:hover,
#buscar:active,
#buscar:focus   {
  border: 2px solid var(--primary-color);
}


header::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 32px;
  right: 15px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-image: url('./assets/images/icon-search.svg');
  background-size: cover;
  z-index: 2000;
}

.fonetica {
  padding: 12px 0;
  display: grid;
  grid-template-columns: 1fr;
}
.fonetica .result{
  font-size: 50px;
  text-transform: capitalize;
  margin: 0;
}
.fonetica span {
  font-size: 24px;
  color: var(--primary-color);
}
.classesDePalavras {
  padding-bottom: 10px;
}
.significado {
  margin-top: 10px;
}
.caixa {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 30px;
}
.line {
  width: 100%;
  height: 2px;
  background: var(--primary-color);
  margin-top: 7px;
}
.exemplos h3 {
  color: var(--primary-color);
}
.exemplos ul {
  padding: 10px 0;
  list-style: none
}
.exemplos ul li {
  font-size: 16px;
  color: var( --example-color);
  position: relative;
  margin-bottom: 8px;
  padding-left: 30px;
}
.exemplos ul li::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--primary-color);
}
footer {
  color: var(--example-color);
  padding: 15px;
}
footer a{
  color: inherit;

}